.markdown {
    padding: 5px;
    font-family: sans-serif;
    background-color: white;
}
.markdown a {
    text-decoration: none;
    color: #007bff!important;
}
.markdown a:hover {
    color: #0058c7!important;
    text-decoration: underline;
}
/*info*/
.markdown strong {
    color: #17a2b8!important;
}
.markdown pre {
    background-color: #f6f6f6;
    padding: 5px;
    color: black!important;
}
.th-light {
    background-color: white;
    color: #414141;
}
.th-light h1{
    color: #000000;
}
.th-light h2{
    color: #000000;
}
.th-light h3{
    color: #000000;
}
.th-light h4{
    color: #000000;
}
.th-light h5{
     color: #000000;
}
.th-light h6{
    color: #000000;
}
